
.worksContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px;
    overflow-x: auto;
    flex-shrink: 0;
    padding-bottom: 20px;
}


.workCard{
    width: 330px;
    min-width: 300px;
    padding: 15px;
    border-radius: 15px;
    border: 2px solid rgba(65, 100, 74, 0.60);
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.workCard:hover{
    background-color: rgba(224, 235, 227, 0.1);
}

.workCard p{
    color: var(--text-color);
}

.workImageContainer img{
    width: 100%;
    background-color: var(--colorPrimario);
    height: 200px;
    border-radius: 15px;
}

.workImageContainer{
    position: relative;
}

.tecnologies{
    display: flex;
    gap: 10px;
}

.tecnologies span{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--colorSecundario);
    color: white
}

.work-filter{
    position: absolute;
    width: 100%;
    height: 200px;
    border-radius: 15px;
    background: rgba(65, 100, 74, 0.527);
}